.title {
  font-size: 3rem;
  width: 90%;
}
.info {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  align-items: center;
}
.info img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 760px) {
  .title {
    font-size: 2.5rem;
    line-height: 38px;
  }
}
