.title {
  font-size: 3rem;
  width: 90%;
}
.info {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.info img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
