.topicsMain {
  width: 90%;
}
.tags {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3rem;
}
.tag {
  width: 100px;
  opacity: 0.7;
  transition: 0.5s;
}
.tag:hover {
  opacity: 0.9;
  width: 120px;
}
.tagSelected {
  width: 120px;
  opacity: 1;
}
