.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444444;
  color: whitesmoke;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.container h2 {
  color: rgb(199, 193, 193);
}
.containerLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(229, 226, 226);
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.navbar {
  width: 100%;
  max-width: 1400px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.navbar img {
  margin-left: 10px;
}
.navLinks {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.Links {
  color: inherit;
}
.main {
  max-width: 1000px;
  width: 90%;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}
.footer {
  width: 90%;
  max-width: 1400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer {
  background: url("/menu.svg") no-repeat;
  width: 40px;
  height: 40px;
  display: none;
}
.modal {
  width: 10000px;
  height: 10000px;
  position: fixed;
  z-index: 50;
  background: rgba(128, 128, 128, 0.509);
}

@media (max-width: 760px) {
  .navLinks {
    display: none;
  }
  .drawer {
    display: inline;
    position: relative;
    z-index: 1000;
  }

  .drawerOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 80px;
    width: 150px;
    height: auto;
    background-color: whitesmoke;
  }
  .drawerOpen a {
    border-bottom: 1px solid rgb(138, 132, 132);
    padding: 10px;
  }
}
