.recentArticle {
  width: 90%;
  height: 100%;
  background-color: cyan;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
  margin: 20px;
  box-shadow: 0 1px 4px black;
  display: flex;
}
.recentArticle:hover {
  box-shadow: 0 1px 8px black;
}
.recentInfo {
  width: 90%;
  max-width: 630px;
}

.recentInfo span {
  color: white;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  display: block;
}
.recentInfo p {
  color: rgb(202, 206, 210);
  font-family: "Roboto";
  font-size: 1.2rem;
  padding: 10px;
  margin-left: 10px;
  display: block;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.365);
}
