.recentArticle {
  width: 100%;
  height: 200px;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.5s ease;
  margin: 10px 20px;
  box-shadow: 0 1px 4px black;
  background-color: black;
  display: flex;
  will-change: box-shadow;
}
.recentArticle:hover {
  box-shadow: 0 2px 8px black;
}
.recentArticle img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  opacity: 0.5;
}
.recentInfo {
  width: 70%;
  max-width: 630px;
  position: absolute;
}

.recentInfo span {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  display: block;
}
.recentInfo p {
  color: rgb(202, 206, 210);
  font-size: 1.2rem;
  padding: 10px;
  margin-left: 10px;
  display: block;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.365);
  border-radius: 3px;
  position: absolute;
  right: 20px;
}
