html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2a6f97;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.trails-main-col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.trails-main-col-cont {
  display: flex;
  justify-content: center;
}
.trails-text-col {
  width: 100%;
  max-width: 400px;
}
.trails-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.trails-main-cont {
  display: flex;
  justify-content: center;
}
.trails-text {
  width: 100%;
  max-width: 800px;
}
